main {
    font-family:"noto sans kr", "Quicksand", sans-serif; 
}
/* 배경 공통.개별값 */
main .bg {
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
main .bg > section {width:1250px; margin:0 auto;/* background:darkcyan; */} 
main .bg1 {
    background-image:url(../images/bg1.jpg); height:1004px;
}
main .bg2 {
    background-image:url(../images/bg2.jpg); height:566px;
    font-family:"Quicksand", sans-serif;
}
main .bg3 {
    background-image:url(../images/bg3.jpg); 
    font-weight:"noto sans kr", sans-serif; 
}
main .bg5 {
    height: 1184px;
}
/* -------------------------------표지 */
main .bg1 section {
    width:1250px; margin:0 auto ;
}
main .bg1 section h1 {}
main .bg1 section h1 a {}
main .bg1 section h1 a img {}
main .bg1 section h2 {
    font-size:4.375rem; font-weight:700;
    text-align: center;
    padding-top:187px; padding-bottom:100px;
}
main .bg1 section h2 span {
    font-size:3.438rem; font-weight:200;
    color:#432c4f; line-height:1.3; letter-spacing:-0.1px;
}
main .bg1 section #search {}
main .bg1 section #search .search {}
main .bg1 section #search .search input {
    background-color:rgb(251, 209, 213, 0.5); border:0;
    width:509px; height:78px;
    margin-left:370px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    outline:none;
}
main .bg1 section #search #name_search {}
main .bg1 section #search #name_search img {
    width:42px; height:42px;
}
main .bg1 section #search .search input::placeholder {
    font-size:1.563rem; color:#050505;
    font-weight:300;
    letter-spacing:-0.2px;
    padding-top:5px; padding-left: 10px;
}
/* =================2.퀴즈 */
main .bg2 section {
    display:flex;
}
main .bg2 section p img {}
main .bg2 section #quiz_frm {
    display:flex; margin:0 auto;
}
main .bg2 section #quiz_frm .cloud_quiz {
    background-color:rgb(255, 255, 255, 0.3);
    width:546px; /* height:444px; */
    margin:61px 20px;
    border-radius:10px;
}
main .bg2 section #quiz_frm .cloud_quiz p {
    padding:33px 22px 33px 12px;
    font-weight: 300; font-size:1.625rem;
}
main .bg2 section #quiz_frm .cloud_quiz p em {
    font-size:1.875rem; color:#432c4f;
    font-weight: 500;
}
main .bg2 section #quiz_frm .cloud_quiz ul {
    float:right;
    padding-right:22px;
}
main .bg2 section #quiz_frm .cloud_quiz ul li {
    padding-bottom:30px;
}
main .bg2 section #quiz_frm .cloud_quiz ul li input {
    display:none;
}
main .bg2 section #quiz_frm .cloud_quiz ul li input[name^=_q] {}
main .bg2 section #quiz_frm .cloud_quiz ul li label {
    font-size:1.375rem;
    color:#432c4f;
    background-image:url(../images/uncheck.svg);
    background-repeat:no-repeat;
    display:inline-block;
    padding-left:30px;
}
main .bg2 section #quiz_frm .cloud_quiz #check_btn {
    margin:51px 86px 35px 127px;
    width:336px; height:62px;
    background-color:rgb(244, 0, 68, 0.5);
    border:0; border-radius:3px;
    font-size:1.375rem; color:#fff;
    letter-spacing:-0.2px;
    /* padding:5px 20px; */
    padding: 5px auto;
}
main .bg2 section #quiz_frm .cloud_quiz #check_btn img {
    text-align: center; 
    margin-left: 100px;
}
/* ==========3. 향수 리뷰  */
main .bg3 {}
main .bg3 section {}
main .bg3 section iframe {
    width:1066px; height:620px;
    padding-top:121px;
    padding-left:98px;
    padding-bottom: 104px;
}
main .bg3 section .video_bottom {
    display:inline-block;
    text-align: center;
    padding-left: 350px;
    padding-bottom: 128px;
}
main .bg3 section .video_bottom .v_content1 {
    font-size:2.188rem; font-weight:300;
}
main .bg3 section .video_bottom .v_content1 span {
    font-size:2.5rem; font-weight: 700;
    line-height:1.2;
}
main .bg3 section .video_bottom .v_content2 {
    font-size: 1.25rem; font-weight: 300;
    margin-top:26px; 
}
/* ===========4. */
main .bg4 {
    background-image: url(../images/bg4.jpg);
    text-align: center;
}
main .bg4 h2 {
    font-size: 3.125rem; font-weight: 700;
    padding: 122px 0 98px 0;
}
main .bg4 .img {
    width: 1250px;
    display: flex;
    margin: 0 auto;
}
main .bg4 .img img {
    padding-right: 98px;
}
main .bg4 a {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 1250px;
    text-align: center;
    margin: 0 auto;
    padding-top: 22px;
}
main .bg4 a p {
    font-size: 2.188rem; font-weight: 300;
    width: 285px; height: 55px;
    margin:10px 30px;
}
main .bg4 a p {margin-bottom: 270px;}
main .bg4 a p:nth-child(1) {
    background-color: rgb(251, 209, 213, 0.5);
}
main .bg4 a p:nth-child(2) {
    background-color: rgb(255, 244, 216, 0.5);
}
main .bg4 a p:nth-child(3) {
    background-color: rgb(251, 209, 213, 0.5);
}
/* ============5. 상품 설명 */
main .bg5 {background-image: url(../images/bg5.jpg);}
main .bg5 p {
    float: left; padding-top: 178px;
}
main .bg5 p img {}
main .bg5 .bg5_content {}
main .bg5 .bg5_content dl {
    float: right; text-align: center;
    padding-top: 248px;
}
main .bg5 .bg5_content dl dt {
    font-size: 2.813rem; font-weight: 700;
    padding-bottom: 18px;
}
main .bg5 .bg5_content dl dd {
    font-size: 1.563rem; font-weight: 300;
    padding-bottom: 168px;
}
/* ================6. 클라우드 핑크 설명들 */
main .bg6 {background-image: url(../images/bg6.jpg);}
main .bg6 section {
    padding-top: 32px;
    margin: 0 auto;
    text-align: center;
}
main .bg6 section h2 {
    font-size: 3.125rem; color: #ababab;
    font-weight: 500;
    padding-bottom: 22px;
}
main .bg6 section h2 span {
    font-size: 3.125rem; color: #e98ca5;
    font-weight: 500;
}
main .bg6 section .sub_title  {
    background-color: #ffeaec; color: #ff799f;
    font-size: 2.5rem; font-weight: 300;
    width: 273px; height: 58px;
    display: inline-block;
    margin-bottom: 77px;
}
main .bg6 section .cp_contents {
    margin-bottom: 135px;
}
main .bg6 section .cp_contents p {
    font-size: 1.875rem; color: #5f5f5f;
}
main .bg6 section .cp_contents .cp1 {
    padding-bottom: 112px;
}
main .bg6 section .cp_contents .cp2 {
    padding-bottom: 135px;
}
/* ==============7. 모드 바닐라 향  */
main .bg7 {background-image: url(../images/bg7.jpg); height: 1184px;}
main .bg7 section {display: flex;}
main .bg7 section .bg7_contents {}
main .bg7 section .bg7_contents dl {
    float: left;
    text-align: center;
    padding-top: 256px;
}
main .bg7 section .bg7_contents dd {
    font-size: 1.563rem; font-weight: 300;
    padding-bottom: 173px;
}
main .bg7 section .bg7_contents dt {
    padding-bottom: 18px;
    font-size: 2.813rem; font-weight: 700;
}
main .bg7 section .bg7_img {
    /* float: right; */ padding-top: 169px; padding-left: 177px;
}
main .bg7 section .bg7_img img {}
/* ===========8. 모드바닐라 설명  */
main .bg8 {background-image: url(../images/bg8.jpg);}
main .bg8 section {
    margin: 0 auto; text-align: center;
}
main .bg8 section h2 {
    font-size: 3.125rem; font-weight: 500; padding: 61px 0 30px;
    color: #484847;
}
main .bg8 section h2 span {
    font-size: 3.125rem; font-weight: 500;
    color: #FFF4D8;
}
main .bg8 section .sub_title {
    background-color: #FFF4D8;
    width: 400px; height: 58px;
    display: flex; 
    align-items: center; margin: 0 auto;
    color: #C9B396; font-size: 2.5rem; font-weight: 300;
    margin-bottom: 96px;
}
main .bg8 section .md_contents {}
main .bg8 section .md_contents .md1 {
    font-size: 1.875rem; color: #5B5754;
    padding-bottom: 61px;
}
main .bg8 section .md_contents .md2 {
    font-size: 1.875rem; color: #5B5754;
    padding-bottom: 171px;
}
/* ==============9. 갓 이즈 어 우먼 향수 */
main .bg9 {background-image: url(../images/bg9.png); height: 1184px; }
main .bg9 section {}
main .bg9 section p {
    float: left; padding-top: 178px; 
}
main .bg9 section p img {}
main .bg9 section .bg9_contents {
    float:right; text-align: center;
    padding-top: 248px;
}
main .bg9 section .bg9_contents dl { display: inline-block;}
main .bg9 section .bg9_contents dl dt {
    font-size: 2.813rem; font-weight: 700;
    padding-bottom: 18px;
}
main .bg9 section .bg9_contents dl dd {
    font-size: 1.563rem; font-weight: 300;
    padding-bottom: 168px;
}
/* ===============10. 갓 이즈 어 우먼 설명 */
main .bg10 {background-image: url(../images/bg10.jpg);}
main .bg10 section {
    text-align: center;
}
main .bg10 section h2 {
    padding-top: 32px; font-size: 3.125rem; font-weight: 500;
    color: #ABABAB;
    padding-bottom: 30px;
}
main .bg10 section h2 span {
    font-size: 3.125rem; font-weight: 500;
    color: #9373B4;
}
main .bg10 section .sub_title {
    width: 800px; height: 58px;
    background-color: #DEC1FB; color: #fff;
    display: flex; align-items: center; margin: 0 auto; justify-content: center;
    font-size: 2.5rem; font-weight: 300;
    margin-bottom: 103px;
}
main .bg10 section .got1 {
    font-size: 1.875rem; color: #5F5F5F;
    padding-bottom: 69px;
} 
main .bg10 section .got1 span {
    font-size: 1.875rem; color: #9373B4;
}
main .bg10 section .got2 {
    font-size: 1.875rem; color: #5F5F5F;
    padding-bottom: 142px;
} 
main .bg10 section .got2 span {
    font-size: 1.875rem; color: #9373B4;
} 