main {
    font-family:"noto sans kr", "Quicksand" sans-serif; 
    width:1920px; /* background:darkcyan; */
}
/* 배경 공통.개별값 */
main .bg {
    background-position:center;
    background-repeat:no-repeat;
}
main .bg > section {width:1250px; margin:0 auto;} 
main .bg1 {
    background-image:url(../images/bg1.png);
}
main .bg2 {}
/* -------------------------------표지 */
main .bg1 section {
    width:1250px; margin:0 auto;
}
main .bg1 section h1 {}
main .bg1 section h1 a {}
main .bg1 section h1 a img {}
main .bg1 section h2 {
    font-size:4.375rem; font-weight:700;
    text-align: center;
    padding-top:187px; padding-bottom:100px;
}
main .bg1 section h2 span {
    font-size:3.438rem; font-weight:200;
    color:#432c4f; line-height:1.3; letter-spacing:-0.1px;
}
main .bg1 section #search {}
main .bg1 section #search .search {
    width:325px;
}
main .bg1 section #search .search input {
    background:#fbd1d5; border:0;
    margin-bottom:421px;
    margin-left:462px;
}
main .bg1 section #search .search input::after {
    content:'';
    background-image:url(../images/search.svg);
    background-repeat:no-repeat;
    width:22px; height:22px;
    display:inline-block;
}
main .bg1 section #search .search input::placeholder {
    font-size:0.75rem; color:#fff;
    font-weight:300;
    letter-spacing:-0.2px;
    padding-top:9px; padding-left: 10px;
}
/* ----------------------------==2.퀴즈 */
main .bg2 section {}
main .bg2 section p {}
main .bg2 section p em {}
main .bg2 section #quiz_frm {}
main .bg2 section #quiz_frm .cloud_quiz {}
main .bg2 section #quiz_frm .cloud_quiz ul {}
main .bg2 section #quiz_frm .cloud_quiz ul li {}
main .bg2 section #quiz_frm .cloud_quiz ul li input {}
main .bg2 section #quiz_frm .cloud_quiz ul li input[name^=_q] {}
main .bg2 section #quiz_frm .cloud_quiz ul li label {}
main .bg2 section #quiz_frm .cloud_quiz #check_btn {}