main {
    text-align: center;
    width:1024px;background-color: #f5f5f5;
    font-family: "noto sans kr", sans-serif;
}
/* 로고 */
main h1 {
    padding: 41px;
}
main h1 a {}
/* 회원약관 */
main .law {
    width:612px; height: 200;
    background-color:#fff;
    height: 200px;
    margin:41px auto;
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
    font-size: 0.75rem; font-weight: 0.2px;
}
main .law h2 {
    margin:10px;
    padding-bottom:30px;
}
main .law h3 {margin: 10px;}
main .law p {padding-top:22px; margin: 10px;}
/* form 시작 */
main #join_frm {
    margin-left:206px;
    text-align: left;
}
main #join_frm .user_info {}
main #join_frm .user_info dl {}
main #join_frm .user_info dl dt {
    background-color: aqua;
    padding-bottom:28px;
    padding-right:120px;
    letter-spacing: 0.2px;
}
main #join_frm .user_info dl dt span {color:#ff0000;}
main #join_frm .user_info dl dd {
    padding-bottom:10px;
    background-color: yellow;
    width:612px;
    padding-left:36px;
}
main #join_frm .user_info dl dd input {
    width:300px; height: 40px; 
    border-radius: 5px;
    border:1px solid #aaa;
}
main #join_frm .user_info dl dd input::placeholder {
    font-size: 0.875rem;
    letter-spacing: -0.2px;
    margin: 10px;
}
/* 중복확인 버튼 */
main #join_frm .user_info dl dd #check_btn {
    width:120px; height: 40px;
    border-radius: 5px;
    border:0 solid;
    background-color: #9E00B7;
    color:#fff;
}
/* 인증번호 버튼 */
main #join_frm .user_info dl dd #cer_btn {
    width:140px; height:40px;
    border-radius: 5px;
    border:0 solid ;
    background-color: #ccc;
}
/* 통신사 */
main #join_frm .user_info dl dd select {}
main #join_frm .user_info dl dd select option {}
main #join_frm .user_info dl dd span {}
main #join_frm .user_info .join_btn {}
/* 가입하기버튼 */
main #join_frm .user_info .join_btn #join_btn {}